    /* codigo AULA 1 de responsividade   

    .img-content{
        width: 765px;
        height: 400px;
    }

    .text-content {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* pelo que eu entendi quando chega proximo do tamanho que comeca a quebrar a pagina ele inicia o media query 

    @media (max-width:795px) {

        .img-content{
            width: 500px;
        }

        .text-content{
            font-size: 16px ;
        }
    }

    @media (max-width:510px) {

        .img-content {
            width: 100%;
            height: auto;
        }

        .text-content{
            font-size: 14px;
        }
    }


    @media (max-width:420px) {
  
        .text-content{
                text-align: center;
            }

    }
   
--------------------------------------------------------------------- */


/* AULA 2 */

    .img-content{
        width: 765px;
        height: 400px;
    }

    .text-content {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @media (max-width:425px){

        .img-content{
            width: 100%;
            height: auto;
        }
        .title-content {

            text-align: center;
        
        }
        .text-content{
            font-size: 18px ;
            text-align: center;
        }

    } 
    
    @media (max-width:320px){

        .img-content{
            width: 100%;
            height: auto;
        }
        .title-content {

            text-align: center;
        
        }
        .text-content{
            font-size:12px ;
            text-align: center;
        }

    }

    @media (max-width:790px){

        .img-content{
            width:90%;
            height: auto;
        }
       
        
        .text-content{
            font-size:20px ;
            text-align: center;
        }

    }