

       li{
              color: green;
                     
       }


       h1{
              color: purple;
              border : 8px  dashed  yellow;
       }

  
       body{
              
       background-image: url('https://s2.glbimg.com/oNb1wbkS3abJh8eBgdbuOFs7DKU=/0x0:2048x1365/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/N/bjIKHLQNiE2yAiNBWTtw/inspiration4spacexphotos-high-10-.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       }